# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
week_2/MyFirstCPP/cmake-build-debug/CMakeFiles/
week_2/MyFirstCPP/cmake-build-debug/CMakeCache.txt
week_2/MyFirstCPP/cmake-build-debug/
week_2/sentinel/cmake-build-debug/
week_2/DistanceConverter/cmake-build-debug/
week_2/reverse/cmake-build-debug/
week_2/pi_on_four/cmake-build-debug/
week_3/UnitTest2/cmake-build-debug/
week_3/Unit_Testing/cmake-build-debug/
week_3/ArraySortedState/cmake-build-debug/
week_3/UnitTest1/cmake-build-debug/
