# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
MyFirstCPP/cmake-build-debug/CMakeFiles/
MyFirstCPP/cmake-build-debug/CMakeCache.txt
MyFirstCPP/cmake-build-debug/
sentinel/cmake-build-debug/
DistanceConverter/cmake-build-debug/
